.section-workspace {
  --section-width: min(100%, 1600px);
  width: var(--section-width);
  height: calc(100vh - 180px);
  margin-top: 20px;
  display: flex;
  align-items: stretch;
}

.section-workspace__main {
  width: 60%;
}