.section-workspace {
  --section-width: min(100%, 1600px);
  width: var(--section-width);
  height: calc(100vh - 120px);
  display: flex;
  align-items: stretch;
}

.section-workspace__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
  gap: 20px;
  justify-content: space-between;
  min-height: fit-content;
}

.section-workspace__aside {
  flex-shrink: 0;
}

/* @media (max-width: 1200px) {
  .section-workspace {
    flex-direction: column;
    height: auto;
  }
  
  .section-workspace__aside {
    width: 100% !important;
    max-height: 300px;
  }
  
  .section-workspace__main {
    width: 100%;
  }
} */

body::-webkit-scrollbar {
  width: 10px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: transparent;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;    /* цвет плашки */
  border-radius: 0;       /* закругления плашки */
  border: none;  /* padding вокруг плашки */
}